@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    background-color: rgba(253, 206, 32, 255);
    background-image: url(./assets/pen.png), url(./assets/explore.png), url(./assets/learn.png);
    background-size: 350px, 350px, 100px;
    background-repeat: no-repeat;
    background-position: 78vw 5vh, 2vw 31vh, 76vw 75vh;
    position: relative;
}

.wrapper {
    padding: 2em;
    width: clamp(300px, 70%, 950px);
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 21, 21, 255);
    border-radius: 2em;
    box-shadow: rgba(21, 21, 21, 0.2) 0px 8px 24px;
    background-image: url(./assets/bg.png);

    & .content {
        flex: 1;
        padding: 0 2em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5em;
        overflow: hidden;

        & .title {
            width: 100%;
            font-family: "Lobster";
            font-size: 5rem;
            color: rgba(128, 128, 128, 255);
            text-align: center;
            background: -webkit-linear-gradient(110deg, rgba(255, 0, 110, 255), rgba(253, 206, 32, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & .quote-container {
            padding: 1.5em 0.5em 1.5em 1.5em;
            overflow-y: auto;
        }

        & #quote,
        #author {
            font-family: "Lora";
            font-weight: 500;
            line-height: 3rem;
            color: rgba(243, 243, 243, 255);
        }

        & #quote {
            font-size: 2.5rem;
        }

        & #author {
            align-self: flex-end;
            font-size: 2rem;
            position: relative;
        }
    }

    & .generate-quote {
        align-self: center;
        margin-bottom: 1em;
        width: clamp(120px, 100%, 200px);
        min-height: 50px;
        font-family: "Lobster";
        font-weight: 500;
        font-size: 1.5rem;
        color: rgba(21, 21, 21, 255);
        background: linear-gradient(90deg, #0000 34.55%, rgba(253, 206, 32, 255) 94.17%);
        background-color: rgba(253, 206, 32, 255);
        border: none;
        border-radius: 2em;
        cursor: pointer;
        transition: all 400ms ease-in;
    }
}

.creator-container {
    & .creator-text {
        font-family: "Lora";
        font-weight: 500;
        font-size: 1.2rem;
        color: rgba(21, 21, 21, 255);

        & .creator-hyperlink {
            font-family: "Lobster";
            font-size: 1.2rem;
            font-weight: 500;
            background: -webkit-linear-gradient(110deg, rgba(86, 3, 173, 255), rgba(255, 0, 110, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
        }
    }
}

/* Hover */
@media (hover: hover) {
    .generate-quote:hover {
        color: rgba(243, 243, 243, 255);
        background-color: rgba(255, 0, 110, 255);
    }
}

/* Media Queries */

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    body {
        background-position: 77vw 5vh, 2vw 31vh, 85.5vw 75vh;
    }
}

@media (max-width: 820px) {
    html {
        font-size: 12px;
    }

    body {
        background-size: 160px, 160px, 68px;
        background-position: 83vw 5vh, 1vw 31vh, 85.5vw 75vh;
    }

    .wrapper {
        padding: 1em;

        & .content {
            padding: 0 1em 1.5em;
        }
    }
}

@media (max-width: 570px) {
    html {
        font-size: 10px;
    }

    body {
        background-image: none;
    }

    .wrapper {
        width: 95vw;
        height: 95vh;
    }
}

@media (max-width: 389px) {
    html {
        font-size: 8px;
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.313em;
    background: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(253, 206, 32, 255);
    border-radius: 31.875em;
}

::-webkit-scrollbar-track-piece::start {
    margin-top: 0.938em;
}

::-webkit-scrollbar-track-end::start {
    margin-bottom: 0.938em;
}